body {
	background-color: black;
	font-family: arial;
}
h1{
	border-bottom: 2px solid tomato;
	text-align: center;
	color: white;
}
.form {
	color: tomato;
	margin-bottom: 10px solid tomato;
	display: flex;
	justify-content: center;
	align-items: center;
	}
	.form input {
		padding: 5px;
		width: 200px;
		border-radius: 5px;
	}
	.form label {
		font-size: 20px;
		font-weight: 500;
		
	}
	.form button {
		color: white;
		background-color: tomato;
		padding: 5px;
		border:5px;
		border-radius: 5px;
	}

#map {
	margin-top: 20px;
}